:root {

	--check-background-color: var(--form-background-color);

	--check-border-size: var(--form-border-size);
	--check-border-color: var(--form-border-color);
	--check-border-rounded: 2px;

	--check-size: 20px;

	--check-checked-border-color: var(--form-border-color-focus);
	--check-checked-background-color: #000;


	/* Icono check */
	--check-icon-width: 16px;
	--check-icon-height: 16px;
	/*
		La otra forma de hacer el color customizable (y mucho más sencilla) es mediante el uso de "mask", pero no es compatible con todos los navegadores.
		Para convertir el color hexadecimal a este filtro, usar este conversor: https://isotropic.co/tool/hex-color-to-css-filter/
	*/
	--check-icon-color: invert(77%) sepia(0%) saturate(3716%) hue-rotate(198deg) brightness(119%) contrast(107%);
}